{% extends 'base.html' %}}
{% load i18n %}
{% load crispy_forms_tags %}

    {% block jumbotron %}
        {% include 'blog/include/jumbotron.html' %}
    {% endblock %}
        {% block posts %}
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nuevo Post</h3>
                    </div>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="panel-body">
                            {{ form|crispy:"bootstrap" }}
                        </div>
                        <button type="submit">Crear post</button>
                    </form>
                </div>
            </div><!--/.col-xs-12.col-sm-9-->
        {% endblock %}

    <hr>

