    <hr>
    <footer>
        <div class="container">
            <div class="col-xs-12 col-lg-12">

                <div class="table table-responsive">
                    <table>
                        <thead>
                        <tr>
                            <td>
                                <!--<a class="navbar-up navbar-brand" href="#id-section-init">Spartan Life</a>-->
                                <a class="navbar-brand" href="{% url 'home' %}">Spartan Life</a>
                                <a class="navbar-up navbar-brand" href="#id-section-init"><i class="fa fa-upload fa-align-left" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </footer>